# Task-1-Data Collection and Preprocessing
## Data Collection
We managed to collect data from the South African Police Force in yearly format from 2005 and monthly data from 2015.  
  
We had Zoom meeting and decided to work with the monthly data from 2015.

## Importing the libraries

In [1]:
import pandas as pd
from datetime import datetime

### Reading in the raw data
We will create four dataframes, one for each quarter.

In [2]:
df1 = pd.read_csv('../../../data/to_merge/cd_1.csv')
df2 = pd.read_csv('../../../data/to_merge/cd_2.csv')
df3 = pd.read_csv('../../../data/to_merge/cd_3.csv')
df4 = pd.read_csv('../../../data/to_merge/cd_4.csv')

C:\Users\kmedr\AppData\Local\Temp\ipykernel_3796\2463124231.py:2: DtypeWarning: Columns (50,51,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../../../data/to_merge/cd_2.csv')
C:\Users\kmedr\AppData\Local\Temp\ipykernel_3796\2463124231.py:4: DtypeWarning: Columns (46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv('../../../data/to_merge/cd_4.csv')

### Checking shape of raw data

In [3]:
df1.shape, df2.shape, df3.shape, df4.shape

((57794, 48), (50952, 57), (57794, 51), (50996, 48))

Lets have a look at the column names

In [4]:
df1.columns

Index(['prov Crime_Category', 'Crime_Category station Per Province',
       'Crime_Category station Per Province.1',
       'Crime_Category station Per Province.2',
       'Provincial Station position prov Crime_Category',
       'National Station position Crime_Category', 'station Crime_Category',
       'prov', 'Per Province', 'cluster', 'District', 'station',
       'Table 1 Crime Category', 'Crime_Category', 'Jan-14', 'Feb-14',
       'Mar-14', 'Jan-15', 'Feb-15', 'Mar-15', 'Jan-16', 'Feb-16', 'Mar-16',
       'Jan-17', 'Feb-17', 'Mar-17', 'Jan-18', 'Feb-18', 'Mar-18', 'Jan-19',
       'Feb-19', 'Mar-19', 'Jan-20', 'Feb-20', 'Mar-20', 'Jan-21', 'Feb-21',
       'Mar-21', 'Jan-22', 'Feb-22', 'Mar-22', 'January to March  2018',
       'January to March  2019', 'January to March  2020',
       'January to March  2021', 'January to March  2022',
       'National Station position', 'Provincial Station position'],
      dtype='object')

We only need to keep 'prov', 'cluster', 'station', 'Crime_Category', and months.  
  
Lets create some lists.

In [5]:
cols1 = ['prov', 'cluster', 'station', 'Crime_Category', 'Jan-16', 'Feb-16',
        'Mar-16', 'Jan-17', 'Feb-17', 'Mar-17', 'Jan-18', 'Feb-18',
        'Mar-18', 'Jan-19', 'Feb-19', 'Mar-19', 'Jan-20', 'Feb-20',
        'Mar-20', 'Jan-21', 'Feb-21', 'Mar-21']

cols2 = ['prov', 'cluster', 'station', 'Crime_Category', 'Apr-16', 'May-16',
         'Jun-16', 'Apr-17', 'May-17', 'Jun-17', 'Apr-18',
         'May-18', 'Jun-18', 'Apr-19', 'May-19', 'Jun-19', 'Apr-20', 'May-20',
         'Jun-20', 'Apr-21', 'May-21', 'Jun-21']

cols3 = ['prov', 'cluster', 'station', 'Crime_Category', 'Jul-16', 'Aug-16',
        'Sep-16', 'Jul-17', 'Aug-17', 'Sep-17', 'Jul-18',
        'Aug-18', 'Sep-18', 'Jul-19', 'Aug-19', 'Sep-19', 'Jul-20', 'Aug-20',
        'Sep-20', 'Jul-21', 'Aug-21', 'Sep-21']

cols4 = ['prov', 'cluster', 'station', 'Crime_Category', 'Oct-16', 'Nov-16',
       'Dec-16', 'Oct-17', 'Nov-17', 'Dec-17', 'Oct-18', 'Nov-18', 'Dec-18',
       'Oct-19', 'Nov-19', 'Dec-19', 'Oct-20', 'Nov-20', 'Dec-20', 'Oct-21',
       'Nov-21', 'Dec-21']

### Transpose and Reduce
We can reduce the number of columns and transpose the monthly data.

In [6]:
df1 = df1[cols1].set_index(['station', 'prov', 'cluster', 'Crime_Category']).stack().reset_index()
df2 = df2[cols2].set_index(['station', 'prov', 'cluster', 'Crime_Category']).stack().reset_index()
df3 = df3[cols3].set_index(['station', 'prov', 'cluster', 'Crime_Category']).stack().reset_index()
df4 = df4[cols4].set_index(['station', 'prov', 'cluster', 'Crime_Category']).stack().reset_index()
print(df1.shape, df2.shape, df3.shape, df4.shape)

(917268, 6) (917136, 6) (917400, 6) (917268, 6)

And rename columns

In [7]:
df1.rename(columns = {'prov':'province', 'cluster':'district', 'Crime_Category':'crime_category', 'level_4':'date', 0:'number_of_crimes'}, inplace = True)
df2.rename(columns = {'prov':'province', 'cluster':'district', 'Crime_Category':'crime_category', 'level_4':'date', 0:'number_of_crimes'}, inplace = True)
df3.rename(columns = {'prov':'province', 'cluster':'district', 'Crime_Category':'crime_category', 'level_4':'date', 0:'number_of_crimes'}, inplace = True)
df4.rename(columns = {'prov':'province', 'cluster':'district', 'Crime_Category':'crime_category', 'level_4':'date', 0:'number_of_crimes'}, inplace = True)

### Remove Null values

In [8]:
df1.dropna(how='any', axis=0, inplace=True)
df2.dropna(how='any', axis=0, inplace=True)
df3.dropna(how='any', axis=0, inplace=True)
df4.dropna(how='any', axis=0, inplace=True)
print(df1.shape, df2.shape, df3.shape, df4.shape)

(916344, 6) (916344, 6) (916344, 6) (916344, 6)

### Join the datframes into one

In [9]:
crimes_date = pd.concat([df1, df2, df3, df4], axis=0)
crimes_date.shape

(3665376, 6)

Lets take a look at what we have.

In [10]:
crimes_date

,station,province,district,crime_category,date,number_of_crimes
0,EAST LONDON,EASTERN CAPE,EAST LONDON CC,17 Community Reported Serious Crime,Jan-16,470.0
1,EAST LONDON,EASTERN CAPE,EAST LONDON CC,17 Community Reported Serious Crime,Feb-16,411.0
2,EAST LONDON,EASTERN CAPE,EAST LONDON CC,17 Community Reported Serious Crime,Mar-16,477.0
3,EAST LONDON,EASTERN CAPE,EAST LONDON CC,17 Community Reported Serious Crime,Jan-17,476.0
4,EAST LONDON,EASTERN CAPE,EAST LONDON CC,17 Community Reported Serious Crime,Feb-17,427.0
...,...,...,...,...,...,...
917131,HOPEFIELD,WESTERN CAPE,VREDENBURG CC,Truck hijacking,Nov-20,0.0
917132,HOPEFIELD,WESTERN CAPE,VREDENBURG CC,Truck hijacking,Dec-20,0.0
917133,HOPEFIELD,WESTERN CAPE,VREDENBURG CC,Truck hijacking,Oct-21,0.0
917134,HOPEFIELD,WESTERN CAPE,VREDENBURG CC,Truck hijacking,Nov-21,0.0
917135,HOPEFIELD,WESTERN CAPE,VREDENBURG CC,Truck hijacking,Dec-21,0.0

Lets tidy up the values.

In [11]:
crimes_date['station'], crimes_date['province'], crimes_date['district'] = crimes_date['station'].str.lower(), crimes_date['province'].str.title(), crimes_date['district'].str.title()

And take a look at what we have.

In [12]:
crimes_date.head(1)

,station,province,district,crime_category,date,number_of_crimes
0,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Jan-16,470.0

Fix spelling of 'bholothwa'

In [13]:
crimes_date.loc[crimes_date['station'] == 'bholothwa', 'station'] = 'bholo'

### Load City Coordinates

In [14]:
cities = pd.read_csv('../../../data/stations.csv', encoding = "ISO-8859-1")
cities

         station  latitude  longitude
0       aberdeen  24.06098  -32.47634
1      acornhoek  31.04835  -24.59710
2     actonville  28.29975  -26.21198
3           addo  25.69029  -33.54769
4       adelaide  26.29255  -32.70725
...          ...       ...        ...
1152   zebediela  29.24406  -24.29829
1153     zeerust  26.07897  -25.53974
1154        zele  27.37591  -32.77056
1155  zonkizizwe  28.17933  -26.40597
1156   zwelitsha  27.42121  -32.91425

[1157 rows x 3 columns]

In [15]:
len(cities['station'].unique())

1157

### Merge the Two Dataframes

In [16]:
crime_data_2016_21 = pd.merge(crimes_date, cities, on=['station'], how='inner')
crime_data_2016_21

,station,province,district,crime_category,date,number_of_crimes,latitude,longitude
0,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Jan-16,470.0,27.90288,-33.02058
1,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Feb-16,411.0,27.90288,-33.02058
2,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Mar-16,477.0,27.90288,-33.02058
3,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Jan-17,476.0,27.90288,-33.02058
4,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Feb-17,427.0,27.90288,-33.02058
...,...,...,...,...,...,...,...,...
3665371,protea glen,Gauteng,Soweto West Cc,Truck hijacking,Nov-20,0.0,27.83896,-26.27697
3665372,protea glen,Gauteng,Soweto West Cc,Truck hijacking,Dec-20,0.0,27.83896,-26.27697
3665373,protea glen,Gauteng,Soweto West Cc,Truck hijacking,Oct-21,0.0,27.83896,-26.27697
3665374,protea glen,Gauteng,Soweto West Cc,Truck hijacking,Nov-21,0.0,27.83896,-26.27697
3665375,protea glen,Gauteng,Soweto West Cc,Truck hijacking,Dec-21,0.0,27.83896,-26.27697

Lets convert the 'number_of_crimes' column to int.

In [17]:
crime_data_2016_21['number_of_crimes'] = crime_data_2016_21['number_of_crimes'].fillna(0).astype(int)

Lets check our data types

In [18]:
crime_data_2016_21.dtypes

station              object
province             object
district             object
crime_category       object
date                 object
number_of_crimes      int32
latitude            float64
longitude           float64
dtype: object

### Export Data to .csv and .parquet

In [19]:
crime_data_2016_21.to_csv('crime_data_2016_21.csv')
crime_data_2016_21.to_parquet('crime_data_2016_21.parquet', compression='gzip')

Lets split our full set of data into three separate datasets by year of crime.  
  
First we will create lists of the years.

In [20]:
crime_data_2016_21['date'].unique()

array(['Jan-16', 'Feb-16', 'Mar-16', 'Jan-17', 'Feb-17', 'Mar-17',
       'Jan-18', 'Feb-18', 'Mar-18', 'Jan-19', 'Feb-19', 'Mar-19',
       'Jan-20', 'Feb-20', 'Mar-20', 'Jan-21', 'Feb-21', 'Mar-21',
       'Apr-16', 'May-16', 'Jun-16', 'Apr-17', 'May-17', 'Jun-17',
       'Apr-18', 'May-18', 'Jun-18', 'Apr-19', 'May-19', 'Jun-19',
       'Apr-20', 'May-20', 'Jun-20', 'Apr-21', 'May-21', 'Jun-21',
       'Jul-16', 'Aug-16', 'Sep-16', 'Jul-17', 'Aug-17', 'Sep-17',
       'Jul-18', 'Aug-18', 'Sep-18', 'Jul-19', 'Aug-19', 'Sep-19',
       'Jul-20', 'Aug-20', 'Sep-20', 'Jul-21', 'Aug-21', 'Sep-21',
       'Oct-16', 'Nov-16', 'Dec-16', 'Oct-17', 'Nov-17', 'Dec-17',
       'Oct-18', 'Nov-18', 'Dec-18', 'Oct-19', 'Nov-19', 'Dec-19',
       'Oct-20', 'Nov-20', 'Dec-20', 'Oct-21', 'Nov-21', 'Dec-21'],
      dtype=object)

In [29]:
one = [
    'Jan-16', 'Feb-16', 'Mar-16', 'Apr-16', 'May-16', 'Jun-16',
    'Jul-16', 'Aug-16', 'Sep-16', 'Oct-16', 'Nov-16', 'Dec-16',
    'Jan-17', 'Feb-17', 'Mar-17', 'Apr-17', 'May-17', 'Jun-17',
    'Jul-17', 'Aug-17', 'Sep-17', 'Oct-17', 'Nov-17', 'Dec-17'
    ]
two = [
    'Jan-18', 'Feb-18', 'Mar-18', 'Apr-18', 'May-18', 'Jun-18',
    'Jul-18', 'Aug-18', 'Sep-18', 'Oct-18', 'Nov-18', 'Dec-18',
    'Jan-19', 'Feb-19', 'Mar-19', 'Apr-19', 'May-19', 'Jun-19',
    'Jul-19', 'Aug-19', 'Sep-19', 'Oct-19', 'Nov-19', 'Dec-19']
thr = [
    'Jan-20', 'Feb-20', 'Mar-20', 'Apr-20', 'May-20', 'Jun-20',
    'Jul-20', 'Aug-20', 'Sep-20', 'Oct-20', 'Nov-20', 'Dec-20',
    'Jan-21', 'Feb-21', 'Mar-21', 'Apr-21', 'May-21', 'Jun-21',
    'Jul-21', 'Aug-21', 'Sep-21', 'Oct-21', 'Nov-21', 'Dec-21']

Now we can create the three split datasets.

In [32]:
crime_data_2016_17 = crime_data_2016_21[crime_data_2016_21['date'].isin(one)]
crime_data_2016_17.to_csv('crime_data_2016_17.csv')
crime_data_2016_17.to_parquet('crime_data_2016_17.parquet', compression='gzip')

In [33]:
crime_data_2018_19 = crime_data_2016_21[crime_data_2016_21['date'].isin(one)]
crime_data_2018_19.to_csv('crime_data_2018_19.csv')
crime_data_2018_19.to_parquet('crime_data_2018_19.parquet', compression='gzip')

In [ ]:
crime_data_2020_21 = crime_data_2016_21[crime_data_2016_21['date'].isin(one)]
crime_data_2020_21.to_csv('crime_data_2020_21.csv')
crime_data_2020_21.to_parquet('crime_data_2020_21.parquet', compression='gzip')