In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df1 = pd.read_csv('data/monthly/to_merge/cd_1.csv')
df2 = pd.read_csv('data/monthly/to_merge/cd_2.csv')
df3 = pd.read_csv('data/monthly/to_merge/cd_3.csv')
df4 = pd.read_csv('data/monthly/to_merge/cd_4.csv')

C:\Users\kmedr\AppData\Local\Temp\ipykernel_32548\3692917047.py:2: DtypeWarning: Columns (50,51,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('data/monthly/to_merge/cd_2.csv')
C:\Users\kmedr\AppData\Local\Temp\ipykernel_32548\3692917047.py:4: DtypeWarning: Columns (46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv('data/monthly/to_merge/cd_4.csv')

In [3]:
df1.shape, df2.shape, df3.shape, df4.shape

((57794, 48), (50952, 57), (57794, 51), (50996, 48))

In [4]:
df1.columns

Index(['prov Crime_Category', 'Crime_Category station Per Province',
       'Crime_Category station Per Province.1',
       'Crime_Category station Per Province.2',
       'Provincial Station position prov Crime_Category',
       'National Station position Crime_Category', 'station Crime_Category',
       'prov', 'Per Province', 'cluster', 'District', 'station',
       'Table 1 Crime Category', 'Crime_Category', 'Jan-14', 'Feb-14',
       'Mar-14', 'Jan-15', 'Feb-15', 'Mar-15', 'Jan-16', 'Feb-16', 'Mar-16',
       'Jan-17', 'Feb-17', 'Mar-17', 'Jan-18', 'Feb-18', 'Mar-18', 'Jan-19',
       'Feb-19', 'Mar-19', 'Jan-20', 'Feb-20', 'Mar-20', 'Jan-21', 'Feb-21',
       'Mar-21', 'Jan-22', 'Feb-22', 'Mar-22', 'January to March  2018',
       'January to March  2019', 'January to March  2020',
       'January to March  2021', 'January to March  2022',
       'National Station position', 'Provincial Station position'],
      dtype='object')

In [5]:
cols1 = ['prov', 'cluster', 'station', 'Crime_Category', 'Jan-16', 'Feb-16',
        'Mar-16', 'Jan-17', 'Feb-17', 'Mar-17', 'Jan-18', 'Feb-18',
        'Mar-18', 'Jan-19', 'Feb-19', 'Mar-19', 'Jan-20', 'Feb-20',
        'Mar-20', 'Jan-21', 'Feb-21', 'Mar-21']

cols2 = ['prov', 'cluster', 'station', 'Crime_Category', 'Apr-16', 'May-16',
         'Jun-16', 'Apr-17', 'May-17', 'Jun-17', 'Apr-18',
         'May-18', 'Jun-18', 'Apr-19', 'May-19', 'Jun-19', 'Apr-20', 'May-20',
         'Jun-20', 'Apr-21', 'May-21', 'Jun-21']

cols3 = ['prov', 'cluster', 'station', 'Crime_Category', 'Jul-16', 'Aug-16',
        'Sep-16', 'Jul-17', 'Aug-17', 'Sep-17', 'Jul-18',
        'Aug-18', 'Sep-18', 'Jul-19', 'Aug-19', 'Sep-19', 'Jul-20', 'Aug-20',
        'Sep-20', 'Jul-21', 'Aug-21', 'Sep-21']

cols4 = ['prov', 'cluster', 'station', 'Crime_Category', 'Oct-16', 'Nov-16',
       'Dec-16', 'Oct-17', 'Nov-17', 'Dec-17', 'Oct-18', 'Nov-18', 'Dec-18',
       'Oct-19', 'Nov-19', 'Dec-19', 'Oct-20', 'Nov-20', 'Dec-20', 'Oct-21',
       'Nov-21', 'Dec-21']

In [6]:
df1 = df1[cols1].set_index(['station', 'prov', 'cluster', 'Crime_Category']).stack().reset_index()
df2 = df2[cols2].set_index(['station', 'prov', 'cluster', 'Crime_Category']).stack().reset_index()
df3 = df3[cols3].set_index(['station', 'prov', 'cluster', 'Crime_Category']).stack().reset_index()
df4 = df4[cols4].set_index(['station', 'prov', 'cluster', 'Crime_Category']).stack().reset_index()
print(df1.shape, df2.shape, df3.shape, df4.shape)

(917268, 6) (917136, 6) (917400, 6) (917268, 6)

In [7]:
df1.rename(columns = {'prov':'province', 'cluster':'district', 'Crime_Category':'crime_category', 'level_4':'date', 0:'number_of_crimes'}, inplace = True)
df2.rename(columns = {'prov':'province', 'cluster':'district', 'Crime_Category':'crime_category', 'level_4':'date', 0:'number_of_crimes'}, inplace = True)
df3.rename(columns = {'prov':'province', 'cluster':'district', 'Crime_Category':'crime_category', 'level_4':'date', 0:'number_of_crimes'}, inplace = True)
df4.rename(columns = {'prov':'province', 'cluster':'district', 'Crime_Category':'crime_category', 'level_4':'date', 0:'number_of_crimes'}, inplace = True)

In [8]:
df1.dropna(how='any', axis=0, inplace=True)
df2.dropna(how='any', axis=0, inplace=True)
df3.dropna(how='any', axis=0, inplace=True)
df4.dropna(how='any', axis=0, inplace=True)
print(df1.shape, df2.shape, df3.shape, df4.shape)

(916344, 6) (916344, 6) (916344, 6) (916344, 6)

In [9]:
crimes_date = pd.concat([df1, df2, df3, df4], axis=0)
crimes_date.shape

(3665376, 6)

In [10]:
crimes_date

,station,province,district,crime_category,date,number_of_crimes
0,EAST LONDON,EASTERN CAPE,EAST LONDON CC,17 Community Reported Serious Crime,Jan-16,470.0
1,EAST LONDON,EASTERN CAPE,EAST LONDON CC,17 Community Reported Serious Crime,Feb-16,411.0
2,EAST LONDON,EASTERN CAPE,EAST LONDON CC,17 Community Reported Serious Crime,Mar-16,477.0
3,EAST LONDON,EASTERN CAPE,EAST LONDON CC,17 Community Reported Serious Crime,Jan-17,476.0
4,EAST LONDON,EASTERN CAPE,EAST LONDON CC,17 Community Reported Serious Crime,Feb-17,427.0
...,...,...,...,...,...,...
917131,HOPEFIELD,WESTERN CAPE,VREDENBURG CC,Truck hijacking,Nov-20,0.0
917132,HOPEFIELD,WESTERN CAPE,VREDENBURG CC,Truck hijacking,Dec-20,0.0
917133,HOPEFIELD,WESTERN CAPE,VREDENBURG CC,Truck hijacking,Oct-21,0.0
917134,HOPEFIELD,WESTERN CAPE,VREDENBURG CC,Truck hijacking,Nov-21,0.0
917135,HOPEFIELD,WESTERN CAPE,VREDENBURG CC,Truck hijacking,Dec-21,0.0

In [11]:
crimes_date['station'], crimes_date['province'], crimes_date['district'] = crimes_date['station'].str.lower(), crimes_date['province'].str.title(), crimes_date['district'].str.title()

In [12]:
crimes_date.head(1)

,station,province,district,crime_category,date,number_of_crimes
0,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Jan-16,470.0

In [13]:
cities = pd.read_csv('data/SouthAfricanCities.csv', encoding = "ISO-8859-1")
cities

           City AccentCity   ProvinceName   Latitude  Longitude  ProvinceID
0         gqaka      Gqaka   Eastern Cape -31.553917  28.210587           5
1       gqaqala    Gqaqala   Eastern Cape -31.275246  28.422504           5
2         gqiba      Gqiba   Eastern Cape -32.293342  28.686302           5
3      gqobonco   Gqobonco   Eastern Cape -31.623649  28.255605           5
4      gqogqora   Gqogqora   Eastern Cape -31.466667  28.533333           5
...         ...        ...            ...        ...        ...         ...
12670      gowe       Gowe        Limpopo -24.597728  30.168979           9
12671      goxe       Goxe  KwaZulu Natal -30.610205  29.220571           2
12672      goxe       Goxe   Eastern Cape -30.697539  29.603320           5
12673   gqabati    Gqabati   Eastern Cape -31.552806  28.594719           5
12674     gqaga      Gqaga   Eastern Cape -31.553917  28.210587           5

[12675 rows x 6 columns]

In [14]:
cities.rename(columns = {'City':'station'}, inplace = True)
cities.drop(columns=['AccentCity', 'ProvinceName', 'ProvinceID'], inplace = True)
cities

        station   Latitude  Longitude
0         gqaka -31.553917  28.210587
1       gqaqala -31.275246  28.422504
2         gqiba -32.293342  28.686302
3      gqobonco -31.623649  28.255605
4      gqogqora -31.466667  28.533333
...         ...        ...        ...
12670      gowe -24.597728  30.168979
12671      goxe -30.610205  29.220571
12672      goxe -30.697539  29.603320
12673   gqabati -31.552806  28.594719
12674     gqaga -31.553917  28.210587

[12675 rows x 3 columns]

In [15]:
crime_data_2016_21 = pd.merge(crimes_date, cities, on=['station'], how='inner')
crime_data_2016_21

,station,province,district,crime_category,date,number_of_crimes,Latitude,Longitude
0,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Jan-16,470.0,-33.011051,27.910049
1,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Feb-16,411.0,-33.011051,27.910049
2,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Mar-16,477.0,-33.011051,27.910049
3,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Jan-17,476.0,-33.011051,27.910049
4,east london,Eastern Cape,East London Cc,17 Community Reported Serious Crime,Feb-17,427.0,-33.011051,27.910049
...,...,...,...,...,...,...,...,...
3347779,redelinghuys,Western Cape,Vredenburg Cc,Truck hijacking,Nov-20,0.0,-32.479690,18.538392
3347780,redelinghuys,Western Cape,Vredenburg Cc,Truck hijacking,Dec-20,0.0,-32.479690,18.538392
3347781,redelinghuys,Western Cape,Vredenburg Cc,Truck hijacking,Oct-21,0.0,-32.479690,18.538392
3347782,redelinghuys,Western Cape,Vredenburg Cc,Truck hijacking,Nov-21,0.0,-32.479690,18.538392
3347783,redelinghuys,Western Cape,Vredenburg Cc,Truck hijacking,Dec-21,0.0,-32.479690,18.538392

In [16]:
crime_data_2016_21['number_of_crimes'] = crime_data_2016_21['number_of_crimes'].fillna(0).astype(int)

In [25]:
crime_data_2016_21.dtypes

station              object
province             object
district             object
crime_category       object
date                 object
number_of_crimes      int32
Latitude            float64
Longitude           float64
dtype: object

In [21]:
crime_data_2016_21.to_csv('crime_data_2016_21.csv')

In [22]:
crime_data_2016_21.to_parquet('crime_data_2016_21.parquet', compression='gzip')

In [18]:
crime_data_2016_21['date'].unique()

array(['Jan-16', 'Feb-16', 'Mar-16', 'Jan-17', 'Feb-17', 'Mar-17',
       'Jan-18', 'Feb-18', 'Mar-18', 'Jan-19', 'Feb-19', 'Mar-19',
       'Jan-20', 'Feb-20', 'Mar-20', 'Jan-21', 'Feb-21', 'Mar-21',
       'Apr-16', 'May-16', 'Jun-16', 'Apr-17', 'May-17', 'Jun-17',
       'Apr-18', 'May-18', 'Jun-18', 'Apr-19', 'May-19', 'Jun-19',
       'Apr-20', 'May-20', 'Jun-20', 'Apr-21', 'May-21', 'Jun-21',
       'Jul-16', 'Aug-16', 'Sep-16', 'Jul-17', 'Aug-17', 'Sep-17',
       'Jul-18', 'Aug-18', 'Sep-18', 'Jul-19', 'Aug-19', 'Sep-19',
       'Jul-20', 'Aug-20', 'Sep-20', 'Jul-21', 'Aug-21', 'Sep-21',
       'Oct-16', 'Nov-16', 'Dec-16', 'Oct-17', 'Nov-17', 'Dec-17',
       'Oct-18', 'Nov-18', 'Dec-18', 'Oct-19', 'Nov-19', 'Dec-19',
       'Oct-20', 'Nov-20', 'Dec-20', 'Oct-21', 'Nov-21', 'Dec-21'],
      dtype=object)

In [22]:
one = [
    'Jan-16', 'Feb-16', 'Mar-16', 'Apr-16', 'May-16', 'Jun-16',
    'Jul-16', 'Aug-16', 'Sep-16', 'Oct-16', 'Nov-16', 'Dec-16',
    'Jan-17', 'Feb-17', 'Mar-17', 'Apr-17', 'May-17', 'Jun-17',
    'Jul-17', 'Aug-17', 'Sep-17', 'Oct-17', 'Nov-17', 'Dec-17'
    ]
two = [
    'Jan-18', 'Feb-18', 'Mar-18', 'Apr-18', 'May-18', 'Jun-18',
    'Jul-18', 'Aug-18', 'Sep-18', 'Oct-18', 'Nov-18', 'Dec-18',
    'Jan-19', 'Feb-19', 'Mar-19', 'Apr-19', 'May-19', 'Jun-19',
    'Jul-19', 'Aug-19', 'Sep-19', 'Oct-19', 'Nov-19', 'Dec-19']
thr = [
    'Jan-20', 'Feb-20', 'Mar-20', 'Apr-20', 'May-20', 'Jun-20',
    'Jul-20', 'Aug-20', 'Sep-20', 'Oct-20', 'Nov-20', 'Dec-20',
    'Jan-21', 'Feb-21', 'Mar-21', 'Apr-21', 'May-21', 'Jun-21',
    'Jul-21', 'Aug-21', 'Sep-21', 'Oct-21', 'Nov-21', 'Dec-21']

In [32]:
crime_data_2016_17 = crime_data_2016_21[crime_data_2016_21['date'].isin(one)]
crime_data_2016_17.to_csv('crime_data_2016_17.csv')
crime_data_2016_17.to_parquet('crime_data_2016_17.parquet', compression='gzip')

In [33]:
crime_data_2018_19 = crime_data_2016_21[crime_data_2016_21['date'].isin(one)]
crime_data_2018_19.to_csv('crime_data_2018_19.csv')
crime_data_2018_19.to_parquet('crime_data_2018_19.parquet', compression='gzip')

In [ ]:
crime_data_2020_21 = crime_data_2016_21[crime_data_2016_21['date'].isin(one)]
crime_data_2020_21.to_csv('crime_data_2020_21.csv')
crime_data_2020_21.to_parquet('crime_data_2020_21.parquet', compression='gzip')